.footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 56px;
  background-color: #f5f5f5;
  border-bottom-color: rgb(195, 195, 195);
  /* container-type: inline-size; */
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

ul {
  margin-top: 24px;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 32px;
}

li {
  list-style-type: none;
  font-size: 24pt;
}

a {
  text-decoration: none;
  color: rgb(37, 85, 174);
  font-weight: 700;
}

a:hover {
  color: rgb(176, 12, 127);
}

@media (min-width:1050px)  { 
  .footer {
    display: none;
  }
}