.output-wrapper {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.output {
  /* background-color: #2d2d2d; */
  background-color: #1d1625;
  /* background-color: #feecec; */
  color: #cccccc;
  padding: 32px;
  flex: 1 1 auto;
  min-height: 0;
  border-top-color: black;
  border-top-width: 1px;
  /* margin-top: 56px; */

  h2 {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    padding-right: 16px;
    color: #cccccc;
  }
}

.output-header {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;

  button {
    margin-left: 8px;
  }  
}

.output > .output-header > h2 {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  padding-right: 16px;
  color: #cccccc !important;
}

button {
  display: inline-block;
}