#sidebar {
  width: calc(100% - 61.8%); /* Golden ratio */
  height: 100vh;
  overflow-y: scroll;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  container-type: inline-size;

  color: #1d1625;;
  h1, h2, h3 {
    color: #1d1625;
  }

  p {
    padding: 8px 32px;
  }

  a {
    color: #64748b;
  }

  a:hover {
    color: #b91c1c;
  }

  a:visited {
    color: purple
  }

  a:visited:hover {
    color: #b91c1c;
  }
}

@media (max-width:1050px)  { 
  #sidebar {
    width: 100%;
    height: 61.8vh; /* golden ratio */
  }
}