body {
  /* no scroll bars */
  overflow: hidden;
  color: rgb(53, 48, 48);
}

#app {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.snow-layers-gap {

  h2 {
    font-size: 24px;
    font-weight: 700;
    /* margin-bottom: 16px;margin */
    display: inline-block;
    /* padding: 16px 32px; */
    padding-left: 16px;
    padding-right: 16px;
  }

  /* button {
    display: inline-block;
  } */

  .layers-header {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;

    button {
      margin-right: 8px;
    }

    h2 {
      color: rgb(53, 48, 48);
    }
  }
}

.layers-container {
  background-color: #f5f5f5;
  padding: 8px 16px 56px 16px;
}

.primary {
  background-color: #8d90b7;
}

.secondary {
  /* background-color: #ffffff; */
  background-color: #f5f5f5;
}

.white {
  background-color: #ffffff;
}

.grey-1 {
  background-color: #f5f5f5;
}

.grey-2 {
  background-color: #e3e3e3;
}

.grey-3 {
  background-color: #d1d1d1;
}

.grey-4 {
  background-color: #bfbfbf;
}

.grey-5 {
  background-color: #adadad;
}

@media (max-width:1050px)  { 
  #app {
    flex-direction: column-reverse;
  }
}