.group {
  padding: 8px 8px 8px 8px;
  margin-top: 8px;
  border-color: rgb(195, 195, 195);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    padding: 0 0 0 16px;
    color: rgb(53, 48, 48);
  }
}

.groups {
  border-width: 0;
  border-color: rgb(195, 195, 195);
  margin-top: 8px;
}